.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #5c5c5c;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #003996;
  }
  
  .login-form a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: #0056b3;
    text-decoration: none;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }