.top-title {
  display: flex;
  flex-direction: row;
  /* border: #3944BC 0.1rem solid; */
  margin: 0 2rem;
  margin-top: 5rem;
  justify-content: space-between;
}

.left-side {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
  gap: 6px;
  align-items: center;
  height: 4rem;
}


.name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.avatar {
  font-size: 18px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #009578;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Anton', sans-serif;
}

.time-title {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}


.right-side {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-right: 2rem;

}

.answer-count {
  display: flex;
  justify-content: center;
  color: white;
}

.answer-title {
  color: white;
  font-size: 1.2rem;
}

.votes-count {
  display: flex;
  justify-content: center;
  color: white;
}

.votes-title {
  color: white;
  font-size: 1.2rem;
}

.favourite-count {
  display: flex;
  justify-content: center;
  color: white;
}

.favourite-title {
  color: white;
  font-size: 1.2rem;
}

.avatar::after {
  content: attr(data-label);
}





.main-addQuestion {

  background-color: #001C30;
  box-shadow: 5px 5px 20px #686565;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-radius: 1rem; */
  /* margin-left: 30px; */
  /* margin-top: 20px; */
  /* margin-right: 30px; */
  margin: 0 2rem;
  /* margin-bottom: 3rem; */
}

.question {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin: 1rem;
  gap: 1rem;
  color: white;

}

.question-hr {
  margin: 0 1rem;
}

.answer{
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  gap: 1rem;
  margin: 1rem;
  color: rgb(98, 96, 96);
}

.responses {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 15px;
}

.main-comment {

  background-color: #001C30;
  box-shadow: 5px 5px 20px #686565;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.comment-title {

  color: white;
  margin: 1rem;
  font-weight: 600;
}

.input-comment {
  height: 2rem;
  font-size: 1rem;
  border: none;
  margin: 0rem;
  padding: 1rem;
  color: white;
  background-color: transparent;
}

.button-comment {

  margin: 1rem;
  background-color: #009578;
  width: 5rem;
  height: 2rem;
}



.load {
  color: black;
}