body{
    background-color:#001524 ;
}
.container-1{
    border: .5rem solid white;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;
    align-items: center;
    justify-content: center;
}

.b1{
    background-color:white ;
    width: 5rem;
    height: 2rem;
    margin: 2rem;
}
.i1{
    margin: 0.5rem;
}

.t1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.title-demo{
    margin: 1rem;
}

.c1{
    margin: 2rem;   
}

.main-1{
    border: .1rem solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    margin-top: 10rem;
    margin-left: 25rem;
}