
*{
    margin: 0;
    padding: 0;
   
  }
  
  #root{
    display: flex;
    
    flex-direction: column;
  }
  
  header{
    background-color: #00264d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  #catalyst{
   color:#66FCF1 ;
   font-size: 48px;
   
  }
  
  a{
    text-decoration: none;
    color: #C5C6C7;
  }
  
  nav{
    display: flex;
    flex-direction: row;
    gap:35px;
    font-size: 24px;
  }
  
  .container{
    /* background-color: #00264d; */
    background-color: black;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 50rem;
    overflow-y: scroll;
   
    
  }
  
  .wrapper{
    font-size: 44px;
    color: #ffd700;
    display: flex;
    justify-content: left;
    margin-top: 50px;
    font-family: 'Anton';
    
  }
  
  .wrapper1{
    color: #66FCF1;
    font-size: 26px;
    margin-top: 10px;
    
    
  }
  
  .wrapper1 h2{
    font-size: 27px;
    margin-top: 20px;
  }
  
  .btn{
    background-color: #333333;
    color: #ffd700;
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    /* box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7); */
    /* font-family: 'Alegreya'; */
    font-family: 'Oxygen';
    font-weight: 800;
    font-size: 20px;
  }
  
  .btn::after {
    padding-left: 2px;
    content:   '»';
    color: black;
    opacity: 0;  
    /* top: 14px;
    right: -20px; */
    transition: 0.5s;
  }
  
  .btn:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .btn:hover:after {
    opacity: 1;
   padding-left: 0.5rem;
  }
  
  a:hover{
    color:#66FCF1;
  }